<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>Nazwa uzytkownika:</th>
            <th>Punkty ECTS</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.points }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Powrot do Auditorium</a> {# Zmiana linku na główną stronę #}
</body>
</html>
